{% extends "admin/base_site.html" %}
{% block extrahead %}
{{block.super}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
    {
        .col-sm-6{
          max-width: 99%!important;
          width: 98%;
        }
        .mobile-width{
                  display: flex !important;
        }

    }
    @media only screen and (min-device-width : 240px) and (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2)
    {
        .col-sm-6{
          max-width: 99%!important;
          width: 98%;
        }

    }
     @media only screen and (min-device-width : 320px) and (max-device-width : 568px)
    {
        .mobile-css{
          margin: 20px 4px 20px 4px!important;
          padding: 0px 2px 0px 2px;
        }
        .mobile-width{

            display: inline-flex;
            }

    }
#header {
background-color:white;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#id_resumeFile {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

</style>
{% endblock %}
{% block messages %}
{% if messages %}
{% for msg in messages %}
{% endfor %}
{% endif %}
{% endblock messages %}