{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-xs-center">
              {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{% ifequal msg.tags 'error' %}danger{% else %}{{msg.tags}}{% endifequal %} alert-dismissable">
                    <button type="button" id="alertbtn" class="close" onclick="return close_message();" aria-hidden="true" data-dismiss="alert">&times;</button>
                    {{msg.tags|title}}: {{msg.message}}
                </div>
                {% endfor %}
            {% endif %}
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong></strong> for further instructions contact to cloudanalogy HR</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>
</div>
{% endblock %}